.card {
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   border-radius: 4px;
    padding: 2rem;
    position: relative;
    left: 35%;
    top: 10rem;
    width: 25vw;
  }
  .container{
    align-items: center;
    align-content: center;
    align-self: center; 
  }
/* .cardHeader {
    background: #065fc4;
    padding: 0.75rem 1.5rem;
    border-radius: 2px;
    color: #eee;
    text-transform: uppercase;
    transform: skewY(-4deg);
    font-size: 1.1rem;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: -2rem;
    left: -1.75rem;
  } */